@page
@model HospitalPortal.Pages.Admin.DoctorsModel
@{
    ViewData["Title"] = "Doctors";
}
<nav class="bg-accent-blue flex items-center justify-between h-24 mb-8 text-accent-white px-8">
    <ul class="admin-nav list-style-none flex space-x-4 items-center h-full ml-0 text-xl">
        <li class=""><a href="/Admin/Patients">Patients</a></li>
        <li class="active"><a href="#" class="active">Doctors</a></li>
        <li class=""><a href="/Admin/Drugs">Drugs</a></li>
    </ul>
    <form method="post" asp-page-handler="Logout">
        <button class="font-bold bg-amber-400 px-4 py-2 rounded-md text-accent-blue hover:cursor-pointer hover:opacity-75 transition">Sign Out</button>
    </form>
</nav>
<div class="p-8">
    <h1 class="text-2xl font-bold text-accent-blue mb-4">Doctors</h1>
    <div class="flex flex-col mb-4 items-center space-y-2">
        <button class="bg-gray-100 px-4 py-2 rounded-md border border-accent-blue hover:cursor-pointer hover:bg-accent-blue hover:text-accent-white transition">Add Doctor +</button>
    </div>
    <table class="table-auto w-full border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2">ID</th>
                <th class="border border-gray-300 px-4 py-2">Name</th>
                <th class="border border-gray-300 px-4 py-2">Specialization</th>
                <th class="border border-gray-300 px-4 py-2">Contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doctor in Model.Doctors)
            {
                <tr>
                    <td class="border border-gray-300 px-4 py-2">@doctor.Id</td>
                    <td class="border border-gray-300 px-4 py-2">@doctor.Name</td>
                    <td class="border border-gray-300 px-4 py-2">@doctor.Specialization</td>
                    <td class="border border-gray-300 px-4 py-2">@doctor.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>
