@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <nav class="bg-accent-white flex items-center h-24">
        <div class="container pl-8">
            <a class="text-2xl font-bold" asp-area="" asp-page="/Index">Hospital Portal | Admin</a>
        </div>
    </nav>
</header>
<div class="flex flex-col w-full h-dvh items-center justify-center bg-gray-50">
    <div class="bg-white p-8 w-lg rounded-lg">
        <h1 class="text-2xl text-accent-blue mb-6 text-center">Admin Login</h1>
        <form action="" class="space-y-4">
            <div class="flex flex-col space-y-4">
                <a class="w-full bg-accent-blue text-accent-white px-2 py-2 flex items-center justify-center gap-4 rounded-md" href="/?handler=Login"><span class="text-lg font-bold">Login with</span> <img src="~/lib/pictures/okta.png" alt="Okta" class="object-cover" height="40" width="100" /></a>
            </div>
        </form>
    </div>
</div>